.turn-notification-config {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-area > .form-group {
    flex-grow: 1;
}

.turn-notification-config textarea {
    font-family: inherit;
}

.turn-notification-config .warning {
    color: #664e01;
}

.turn-notification .turn-display {
    display: flex;
    align-items: center;
    background: url(/ui/denim075.png) repeat;
    border: 1px black solid;
    border-radius: 2px;
    color: #f0f0e0;
    text-shadow: 1px 1px 4px #000;
    line-height: 48px;
}

.combat-notifications .turn-display {
    margin-top: 3px;
    z-index: -1;
}

.turn-notification .turn-display .token-name {
    flex: 1;
    overflow: hidden;
    margin-left: 5px;
    text-shadow: 1px 1px 4px #000;
    border-right: 1px solid #222;
}

.turn-notification .turn-display .token-initiative {
    flex: 0 0 48px;
    text-align: center;
    border-right: 1px solid #222;
}

.turn-notification .turn-display img {
    flex: 0 0 48px;
    width: 48px;
    border: 0;
}

.turn-notification .turn-display .add-button-container {
    flex: 0 0 48px;
    text-align: center;
}

.turn-notification .turn-display .add-button-container .add-notification-button {
    width: 25px;
    height: 25px;
    line-height: 0;
}

.turn-notification .self-height {
    height: unset;
}

.notification-list {
    margin: 0;
}

.notification-li.flexrow {
    border: 2px groove #eeede0;
    border-top: 0;
    height: 30px;
    line-height: 30px;
    align-items: center;
    padding-left: 5px;
    margin: 0;
}

.notification-li .notification-message {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-li .icon {
    flex: 0 0 25px;
}

.notification-li button {
    flex: 0 0 25px;
    height: 25px;
    line-height: 0;
    padding: 0;
}

.notification-li button > * {
    margin: auto;
}
