.turn-notification-config {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-area > .form-group {
    flex-grow: 1;
}

.turn-notification-config textarea {
    font-family: inherit;
}

.turn-notification-config .warning {
    color: #664e01;
}

.turn-notification .turn-display {
    display: flex;
    align-items: center;
    background: url(/ui/denim075.png) repeat;
    border: 1px black solid;
    border-radius: 2px;
    color: #f0f0e0;
    text-shadow: 1px 1px 4px #000;
    line-height: 48px;
}

.combat-notifications .turn-display {
    margin-top: 3px;
    z-index: -1;
}

.combat-notifications .cn-header.flexrow {
    justify-content: space-between;
    align-items: center;
}

.combat-notifications .cn-header.flexrow > * {
    flex-grow: 0;
}

.combat-notifications .cn-header.flexrow > .cn-current-turn {
    display: inline-grid;
    grid-template-columns: auto 25px;
    gap: 2px;
    align-items: center;
    font-weight: bold;
}

.combat-notifications .cn-current-turn > label {
    white-space: nowrap;
}

.combat-notifications .cn-current-turn > input[type="text"] {
    width: unset;
    height: unset;
    text-align: right;
}

.turn-notification .turn-display .token-name {
    flex: 1;
    overflow: hidden;
    margin-left: 5px;
    text-shadow: 1px 1px 4px #000;
    border-right: 1px solid #222;
}

.turn-notification .turn-display .token-initiative {
    flex: 0 0 48px;
    text-align: center;
    border-right: 1px solid #222;
}

.turn-notification .turn-display img {
    flex: 0 0 48px;
    width: 48px;
    border: 0;
}

.turn-notification .turn-display .add-button-container {
    flex: 0 0 48px;
    text-align: center;
}

.turn-notification .turn-display .add-button-container .add-notification-button {
    width: 25px;
    height: 25px;
    line-height: 0;
}

.turn-notification .self-height {
    height: unset;
}

.notification-list {
    margin: 0;
}

.notification-li.flexrow {
    border: 2px groove #eeede0;
    border-top: 0;
    height: 30px;
    line-height: 30px;
    align-items: center;
    margin: 0;
}

.notification-li .notification-message {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-li .round-number,
.notification-li .repeating {
    flex: 0 0 0px;
    white-space: nowrap;
    display: inline-block;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

.notification-li > * {
    margin-left: 5px;
}

.notification-li .icon {
    flex: 0 0 0px;
    margin-right: 2px;
}

.notification-li button {
    flex: 0 0 25px;
    height: 25px;
    line-height: 0;
    padding: 0;
}

.notification-li button > i {
    margin: auto;
}

.notification-li .separator {
    flex: 0 0 1px;
    height: 80%;
    border-left: 1px solid #999;
}
