.turn-notification-config {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-area > .form-group {
    flex-grow: 1;
}

.turn-notification-config textarea {
    font-family: inherit;
}

.turn-notification-config .warning {
    color: #664e01;
}

.turn-notification-config .turn-display {
    display: flex;
    align-items: center;
    background: url(/ui/denim075.png) repeat;
    border: 1px black solid;
    border-radius: 5px;
    color: #f0f0e0;
    text-shadow: 1px 1px 4px #000;
}

.turn-notification-config .turn-display .text {
    margin-left: 1rem;
}

.turn-notification-config .turn-display img {
    width: 48px;
    border: 0;
}

.turn-notification-config .self-height {
    height: unset;
}