.turn-alert-config {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-area > .form-group {
    flex-grow: 1;
}

.turn-alert-config textarea {
    font-family: inherit;
}

.turn-alert-config .warning {
    color: #664e01;
}

.turn-alert-config .warning:before {
    content: "⚠️";
}

.turn-alert .turn-display {
    display: flex;
    align-items: center;
    background: url(/ui/denim075.png) repeat;
    border: 1px black solid;
    border-radius: 2px;
    color: #f0f0e0;
    text-shadow: 1px 1px 4px #000;
    line-height: 48px;
}

.combat-alerts .turn-display {
    margin-top: 3px;
    z-index: -1;
}

.combat-alerts .cn-header.flexrow {
    justify-content: space-between;
    align-items: center;
}

.combat-alerts .cn-header.flexrow > * {
    flex-grow: 0;
}

.combat-alerts .cn-header.flexrow > .cn-current-turn {
    display: inline-grid;
    grid-template-columns: auto 35px;
    row-gap: 2px;
    column-gap: 5px;
    align-items: center;
    font-weight: bold;
}

.combat-alerts .cn-current-turn > label {
    white-space: nowrap;
}

.combat-alerts .cn-current-turn > input[type="text"] {
    width: unset;
    height: unset;
    text-align: right;
    border: 1px #999 solid;
}

.turn-alert .turn-display .token-name {
    flex: 1;
    overflow: hidden;
    margin-left: 5px;
    text-shadow: 1px 1px 4px #000;
    border-right: 1px solid #222;
}

.turn-alert .turn-display .token-initiative {
    flex: 0 0 48px;
    text-align: center;
    border-right: 1px solid #222;
}

.turn-alert .turn-display img {
    flex: 0 0 48px;
    width: 48px;
    border: 0;
}

.turn-alert .turn-display .add-button-container {
    flex: 0 0 48px;
    text-align: center;
}

.turn-alert .turn-display .add-button-container .add-alert-button {
    width: 25px;
    height: 25px;
    line-height: 0;
}

.turn-alert .self-height {
    height: unset;
}

.alert-list {
    margin: 0;
}

.alert-li.flexrow {
    border: 2px groove #eeede0;
    border-top: 0;
    min-height: 30px;
    align-items: center;
    margin: 0;
}

.alert-li .alert-label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-li .tag {
    flex: 0 0 0px;
    white-space: nowrap;
    display: inline-block;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
}

.alert-li > * {
    margin-left: 5px;
}

.alert-li .icon {
    flex: 0 0 0px;
    margin-right: 2px;
}

.alert-li button {
    flex: 0 0 25px;
    height: 25px;
    line-height: 0;
    padding: 0;
}

.alert-li button > i {
    margin: auto;
}

.alert-li .separator {
    flex: 0 0 1px;
    height: 25px;
    border-left: 1px solid #999;
}

.indented {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 5px solid #7a7971;
    margin-left: 5px;
    padding: 2px 6px 2px 10px;
    border-radius: 5px;
}
